{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<html >
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
        <p>
            Here we will explain what this website is all about. My name is Luis, and I am a graduating senior
            in computer science at K-State. This is part of my senior project. The goal of this web application is
            to slowly grow the chatbot ability to converse in different contextual settings. It is mostly going
            to be used as a learning/research tool.
            <br/>
            DISCLAIMER: ALL conversations are saved on a database. Please don't share any sensitive or personal information.
        </p>
</body>
</html>
{% endblock %}