{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<html>
    <body>
        <link rel="stylesheet" href="{% static 'css/chat.css' %}">
        <script src="../../static/js/script.js"></script>
        <div>

                    </div>
        <div class="col-sm-3 col-sm-offset-4 frame">
            <ul></ul>
            <div>

                <div class="msj-rta macro">
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input type="text" id='mytext' placeholder="Type a message"   onkeypress="on(event)" />
                    </div>

                </div>
                <div style="padding:10px;">

                </div>

                <p>

            </div>
        </div>
    </body>

{% endblock %}